# =============== #
# Unity generated #
# =============== #
Temp/ 
Library/
.collabignore

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/.vs/
*.sln
*.csproj

# NuGet Packages
Assets/Scripts/NuGet Packages/

# ================= #
# Game Output Files #
# ================= #
game_Data/ 
UnityPlayer.dll
game.exe
game.zip