# =============== #
# Unity generated #
# =============== #
Temp/ 
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/.vs/
*.sln
*.csproj
